<nm-row [nmSpace]="1">
  <nm-col [nmSpan]="12">
    <div class="box">col-12</div>
  </nm-col>
  <nm-col [nmSpan]="12">
    <div class="box">col-12</div>
  </nm-col>
</nm-row>
<nm-row [nmSpace]="2">
  <nm-col [nmSpan]="8">
    <div class="box">col-8</div>
  </nm-col>
  <nm-col [nmSpan]="8">
    <div class="box">col-8</div>
  </nm-col>
  <nm-col [nmSpan]="8">
    <div class="box">col-8</div>
  </nm-col>
</nm-row>
<nm-row [nmSpace]="3">
  <nm-col [nmSpan]="6">
    <div class="box">col-6</div>
  </nm-col>
  <nm-col [nmSpan]="6">
    <div class="box">col-6</div>
  </nm-col>
  <nm-col [nmSpan]="6">
    <div class="box">col-6</div>
  </nm-col>
  <nm-col [nmSpan]="6">
    <div class="box">col-6</div>
  </nm-col>
</nm-row>
