// Grid

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./param";

@mixin row {
  display: block;
  position: relative;
  height: auto;
  &:before,
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin col {
  position: relative;
  float: left;
  display: block;
  box-sizing: border-box;
  $col-fence-initial: $col-fence;
  @while $col-fence-initial>0 {
    &-#{$col-fence-initial} {
      width: 100% * $col-fence-initial / $col-fence;
    }
    $col-fence-initial: $col-fence-initial - 1;
  }
}
