<section class="starry-sky">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="clouds"></div>
  <div class="logo"></div>
</section>
<section class="plugins">
  <div class="main">
    <h1 class="ng-nest">NG-NEST</h1>
    <p class="open-source">完全开源</p>
    <p class="web-application">Web应用程序框架</p>
    <p class="angular-nest">使用 Angular 和 Nest</p>
    <p class="description">
      NG-NEST
      是一个完整的框架，提供强大的基础设置来构建现代的Web应用程序，遵循最佳实践和约定，为您提供可靠的开发经验。
    </p>
    <p class="code-start">
      <a>源代码</a>
      <a>开始使用</a>
    </p>
  </div>
  <div class="data"></div>
</section>
<section class="nav">
  <ul>
    <li><a>基础设施</a></li>
    <li><a>构 建</a></li>
    <li><a>模 块</a></li>
    <li><a>关注点</a></li>
    <li><a>简 化</a></li>
  </ul>
</section>
<section class="content">
  <div class=""></div>
  <div class="panel">
    <a href="https://angular.io/" target="_blank">
      <h2><i class="icon icon-angular"></i>Angular</h2>
      <ul>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.one">一套框架，移动端 & 桌面端</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.two">横跨所有平台</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.three">速度与性能</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.four">美妙的工具</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.five">百万粉丝热捧</p>
        </li>
      </ul>
    </a>
    <a href="https://nestjs.com/" target="_blank">
      <h2><i class="icon icon-nest"></i>Nest</h2>
      <ul>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.one">渐进式 node.js Web 框架</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.two">模块体系结构</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.three">适应性强的生态系统</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.four">使用最新的 javascript 功能</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.five">面向未来的开源平台</p>
        </li>
      </ul>
    </a>
    <a class="we">
      <h2><i class="icon icon-angular"></i>We</h2>
      <ul>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.one">UI 库</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.two">用户模块</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.three">表单设计器</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.four">工作流设计</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.five">代码生成</p>
        </li>
      </ul>
    </a>
  </div>
  <div class="video">
    <div>
      <p i18n="@@play.video">让我们播放一段视频</p>
    </div>
  </div>
</section>
