<section class="plugins">
  <div class="main">
    <h1>NG-NEST</h1>
    <p i18n="@@introduction">结合 Angular 和 Nest 的开源解决方案</p>
  </div>
  <div class="data"></div>
</section>
<section class="content">
  <div class="panel">
    <a href="https://angular.io/" target="_blank">
      <h2><i class="icon icon-angular"></i>Angular</h2>
      <ul>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.one">一套框架，移动端 & 桌面端</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.two">横跨所有平台</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.three">速度与性能</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.four">美妙的工具</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@angular.five">百万粉丝热捧</p>
        </li>
      </ul>
    </a>
    <a href="https://nestjs.com/" target="_blank">
      <h2><i class="icon icon-nest"></i>Nest</h2>
      <ul>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.one">渐进式 node.js Web 框架</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.two">模块体系结构</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.three">适应性强的生态系统</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.four">使用最新的 javascript 功能</p>
        </li>
        <li>
          <i class="icon icon-checkout"></i>
          <p i18n="@@nest.five">面向未来的开源平台</p>
        </li>
      </ul>
    </a>
    <a class="we">
      <h2><i class="icon icon-angular"></i>We</h2>
      <ul>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.one">UI 库</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.two">用户模块</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.three">表单设计器</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.four">工作流设计</p>
        </li>
        <li>
          <i class="icon icon-wait"></i>
          <p i18n="@@we.five">代码生成</p>
        </li>
      </ul>
    </a>
  </div>
  <div class="video">
    <div>
      <p i18n="@@play.video">让我们播放一段视频</p>
    </div>
  </div>
</section>
