@import "src/styles/index";

@mixin flex-center {
  display: flex;
  align-items: center;
}

ns-home {
  @include flex-center();
  position: relative;
  justify-content: center;
  flex-direction: column;
  > section.plugins {
    @include flex-center();
    // background-color: #292929;
    height: 18rem;
    justify-content: center;
    position: relative;
    width: 100%;
    > .main {
      @include flex-center();
      flex-direction: column;
      justify-content: center;
      // color: #eee;
      // text-shadow: 0 0.125rem rgba(0, 0, 0, 0.7);
      z-index: 1;
      position: relative;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      > h1 {
        font-size: 4rem;
        line-height: 4rem;
        margin: 0;
        &:hover {
          // color: #fff;
          // text-shadow: 0 0 0.4rem rgba(255, 255, 255, 0.3);
          transition: all 0.3s;
        }
      }
      > p {
        font-size: 1.125rem;
        line-height: 1.5rem;
        margin: 1.125rem 0;
      }
    }
    > .data {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background-image: linear-gradient(to right, #000, transparent, #000);
    }
  }
  > section.content {
    @include flex-center();
    flex-direction: column;
    width: 100%;
    > .panel {
      width: 100%;
      padding: 0 1rem;
      @include flex-center();
      a {
        flex: 1;
        padding: 1.5rem;
        display: block;
        &.we {
          cursor: default;
        }
        &:hover {
          background-image: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.1) 0,
            rgba(255, 255, 255, 0) 100%
          );
        }
        > h2 {
          margin: 0 0 0.75rem 0;
          padding-bottom: 0.125rem;
          font-weight: initial;
          font-size: 1.75rem;
          border-bottom: 0.25rem solid;
          display: flex;
          align-items: center;
          color: $primary-text-color;
          > i {
            font-size: 2rem;
            color: $primary-text-color;
            margin-right: 0.125rem;
          }
        }
        > ul {
          margin: 0.5rrem 0;
          > li {
            padding: 0.5rem 0;
            color: $primary-text-color;
            display: flex;
            align-items: center;
            > i {
              margin-right: 0.375rem;
              font-size: 1.25rem;
              line-height: 1.25rem;
              &.icon-checkout {
                color: $accent-color;
              }
              &.icon-wait {
                color: $secondary-text-color;
              }
            }
            > p {
              flex: 1;
              line-height: 1.5;
            }
          }
        }
      }
    }
    > .video {
      width: 100%;
      margin: 2rem 0;
      padding: 0 1rem;
      > div {
        border-radius: 0.375rem;
        background-color: rgba(255, 255, 255, 0.95);
        > p {
          text-align: center;
          padding: 15rem 0;
        }
      }
    }
  }
}
