// Table

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./param";

@mixin table {
  display: block;
  width: 100%;
  height: 100%;
  font-size: $font-size;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &-header,
  &-body {
    > ul {
      display: flex;
      cursor: default;
      > li {
        flex: 1;
        height: $font-size * 3;
        &:not(:last-child) {
          padding-right: 1rem;
        }
      }
    }
  }

  &-tool {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e8e8e89c;
  }

  &-header {
    color: $secondary-text-color;
    border-bottom: 1px solid #e8e8e89c;
    > ul > li {
      display: flex;
      align-items: center;
    }
  }

  &-body {
    > ul {
      > li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        > div {
          flex: 1;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        > .nm-buttons {
          margin-left: 0.5rem;
          display: none;
          > .nm-button {
            color: $secondary-text-color;
            &:hover {
              color: $primary-color;
            }
          }
        }
      }
      &:hover {
        margin-left: -1rem;
        margin-right: -1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: rgba(0, 0, 0, 0.02);
        > li > .nm-buttons {
          display: inline-block;
        }
      }
      &:not(:last-child) {
        > li {
          border-bottom: 1px solid #e8e8e89c;
        }
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid #e8e8e89c;
  }
}
