// Input style paramters

$prefix: $nm-prefix + "-input";

$input-font-size: $font-size;
$input-padding: 0 $control-padding-horizontal;
$input-color: $primary-text-color;
$input-placeholder-color: $divider-color;
$input-background-color: white;
$input-border: $border-width $border-style $border-color;
$input-border-radius: $border-radius;

$input-disabled-color: $secondary-text-color;

$input-icon-font-size: $font-size-md;
$input-icon-padding: $control-padding-horizontal;
