<x-row>
  <x-col span="24">
    <x-slider-select [style.width.rem]="20" [(ngModel)]="model1" [marks]="marks"></x-slider-select>
  </x-col>
  <x-col span="24">
    <x-slider-select
      [style.width.rem]="20"
      [(ngModel)]="model2"
      [marks]="marks"
      reverse
    ></x-slider-select>
  </x-col>
  <x-col span="6">
    <x-slider-select
      [style.height.rem]="20"
      [(ngModel)]="model3"
      [marks]="marks"
      vertical
    ></x-slider-select>
  </x-col>
  <x-col span="6">
    <x-slider-select
      [style.height.rem]="20"
      [(ngModel)]="model4"
      [marks]="marks"
      reverse
      vertical
    ></x-slider-select>
  </x-col>
</x-row>
