// Reset

@import '../themes/default';

// Component
@mixin reset-component {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $primary-text-color;
  font-size: $font-size;
  font-variant: $font-variant;
  line-height: $line-height;
  list-style: none;
  font-feature-settings: 'tnum';
}
