<section>
  <div class="logo-version">
    <a class="logo" href="https://ngnest.com">
      <img src="assets/img/logo/logo-32x32.png" width="32" height="32" />
      <h1>NG-NEST<span>11.0.0</span></h1>
    </a>
    <!-- <x-dropdown [data]="config.versions" trigger="click">
      <x-link type="primary" icon="fto-chevron-down" iconRight>11.0.0</x-link>
    </x-dropdown> -->
  </div>
  <!-- <x-dropdown [data]="layoutService.versions" trigger="click">
    <x-button icon="fto-chevron-down" type="info" direction="row-reverse" size="small">1.1.0</x-button>
  </x-dropdown> -->
  <a class="github" href="https://github.com/NG-NEST" target="_blank">
    <x-icon type="ado-github"></x-icon>
  </a>
</section>
