nm-code {
  width: 100%;
  display: block;
  > pre {
    display: flex;
    padding: 0;
    margin: 0;
    > code {
      flex: 1;
      &.hljs {
        padding: 2rem;
        > .hljs-comment {
          font-style: initial;
        }
      }
    }
  }
}
