// Slider

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./param";

@mixin slider {
  display: inline-block;
  color: $slider-color;
  font-size: $slider-font-size;
  > ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: fit-content;
    > li {
      padding: 0 0.875rem;
      cursor: pointer;
      border-style: solid;
      border-color: $slider-border-color;
      border-width: 0;
      white-space: nowrap;
      height: $slider-font-size * 2;
      line-height: $slider-font-size * 2;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      &:hover,
      &.#{$prefix}-activated {
        color: $slider-activated-color;
      }
      &.#{$prefix}-highlight {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 0;
        height: $slider-font-size * 2;
        background-color: $slider-activated-background-color;
        border-color: $slider-activated-border-color;
        transition: width $animation-duration-slow,
          height $animation-duration-slow, left $animation-duration-slow,
          top $animation-duration-slow;
      }
    }
  }
}
