*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
}

body {
  margin: 0;
  color: $primary-text-color;
  font-size: $font-size;
  font-family: $font-family;
  font-variant: $font-variant;
  line-height: $line-height;
}

label {

}
