<x-table
  [(size)]="size"
  [columns]="columns"
  [data]="data"
  [rowHeight]="0"
  [scroll]="{ x: 1500, y: 600 }"
  virtualScroll
  bordered
  loading
  [bodyColumnTpl]="{ actions: actionsTpl }"
  header="用户信息表" footer="用户信息表"
  headerPosition="top-bottom"
>
</x-table>

<ng-template #actionsTpl let-column="$column" let-row="$row">
  <div>
    <x-link type="primary" (click)="edit(row, column)">修改</x-link> &nbsp;&nbsp;
    <x-link type="danger" (click)="del(row, column)">删除</x-link>
  </div>
</ng-template>
