<div class="row">
  <x-tag checked [selected]="true" (selectedChange)="change($event)">标签1</x-tag>
  <x-tag checked [selected]="true" (selectedChange)="change($event)">标签2</x-tag>
  <x-tag checked [selected]="true" (selectedChange)="change($event)">标签3</x-tag>
</div>
<div class="row">
  <x-tag bordered="false" checked [selected]="false" (selectedChange)="change($event)">标签1</x-tag>
  <x-tag bordered="false" checked [selected]="false" (selectedChange)="change($event)">标签2</x-tag>
  <x-tag bordered="false" checked [selected]="false" (selectedChange)="change($event)">标签3</x-tag>
</div>
<div class="row">
  <x-tag checked>标签</x-tag>
  <x-tag checked type="primary">标签</x-tag>
  <x-tag checked type="success">标签</x-tag>
  <x-tag checked type="warning">标签</x-tag>
  <x-tag checked type="danger">标签</x-tag>
  <x-tag checked type="info">标签</x-tag>
</div>
