<section>
  <div class="item slider">
    <x-slider
      [data]="layout.navs()"
      (nodeChange)="action('page', $event)"
      [activatedIndex]="activatedIndex()"
      [layout]="layout.xsmall() ? 'column' : 'row'"
    >
    </x-slider>
  </div>
  <div class="item version">
    <x-select
      [data]="config.versions()"
      [(ngModel)]="config.version"
      (ngModelChange)="action('version', $event)"
      clearable="false"
      [title]="'header.version' | xI18n"
      [style.width.rem]="7"
    ></x-select>
  </div>
  <div class="item">
    <x-button (click)="action('admin')" text>Admin</x-button>
  </div>
  <div class="item lang no-margin">
    @if (config.lang === 'zh_CN') {
      <x-button (click)="action('en_US')" text>{{ 'header.english' | xI18n }}</x-button>
    } @else if (config.lang === 'en_US') {
      <x-button (click)="action('zh_CN')" text>{{ 'header.chinese' | xI18n }}</x-button>
    }
  </div>

  <div class="item theme no-margin">
    <x-button (click)="action('theme')" [title]="'header.theme' | xI18n" icon="eao-color-palette" text></x-button>
    <!-- @if (theme() === 'light') {
      <x-button (click)="action('dark')" [title]="'header.dark' | xI18n" icon="fto-moon" text></x-button>
    } @else if (theme() === 'dark') {
      <x-button (click)="action('light')" [title]="'header.light' | xI18n" icon="fto-sun" text></x-button>
    } -->
  </div>
  <div class="item github no-margin">
    <x-button (click)="action('github')" icon="ado-github" text></x-button>
  </div>
</section>
