<section>
  <div class="item slider">
    <x-slider
      [data]="layout.navs"
      (nodeChange)="action('page', $event)"
      [activatedIndex]="getActivatedIndex"
      [layout]="layout.xsmall ? 'column' : 'row'"
    >
    </x-slider>
  </div>
  <div class="item">
    <x-button (click)="action('admin')">Admin</x-button>
  </div>
  <div class="item version">
    <x-select
      [data]="config.versions"
      [(ngModel)]="config.version"
      (ngModelChange)="action('version', $event)"
      clearable="false"
      title="{{ 'header.version' | xI18n }}"
      [style.width.rem]="6"
    ></x-select>
  </div>
  <div class="item lang">
    <x-button (click)="action('en_US')" *ngIf="config.lang === 'zh_CN'">{{ 'header.english' | xI18n }}</x-button>
    <x-button (click)="action('zh_CN')" *ngIf="config.lang === 'en_US'">{{ 'header.chinese' | xI18n }}</x-button>
  </div>
  <div class="item theme">
    <x-button (click)="action('dark')" *ngIf="theme === 'light'" title="{{ 'header.dark' | xI18n }}" icon="fto-moon"></x-button>
    <x-button (click)="action('light')" *ngIf="theme === 'dark'" title="{{ 'header.light' | xI18n }}" icon="fto-sun"></x-button>
  </div>
  <div class="item github">
    <x-button (click)="action('github')" icon="ado-github" onlyIcon></x-button>
  </div>
</section>
