<div class="row">
  <x-date-range [(ngModel)]="model" (ngModelChange)="change($event)" [label]="'标题(上)'"></x-date-range>
</div>
<div class="row">
  <x-date-range [(ngModel)]="modelString" (ngModelChange)="change($event)" [label]="'标题(下)'" direction="column-reverse"></x-date-range>
</div>
<div class="row">
  <x-date-range
    [(ngModel)]="modelDate"
    (ngModelChange)="change($event)"
    [style.width.rem]="18"
    [label]="'标题(左)'"
    direction="row"
  ></x-date-range>
</div>
<div class="row">
  <x-date-range
    [(ngModel)]="modelNumber"
    (ngModelChange)="change($event)"
    [style.width.rem]="18"
    [label]="'标题(右)'"
    direction="row-reverse"
  ></x-date-range>
</div>

<div class="row">
  <x-date-range label="选择月" [(ngModel)]="model" type="month"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择年" [(ngModel)]="model" type="year"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择周" [(ngModel)]="modelWeek" type="week"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择季度" [(ngModel)]="modelWeek" type="quarter"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择日期（时间）" [(ngModel)]="modelDateTime" type="date-time"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择日期（时分）" [(ngModel)]="modelDateMinute" type="date-minute"></x-date-range>
</div>
<div class="row">
  <x-date-range label="选择日期（时）" [(ngModel)]="modelDateHour" type="date-hour"></x-date-range>
</div>
<div class="row">
  <x-date-range label="必填" required [(ngModel)]="model"></x-date-range>
</div>
<div class="row">
  <x-date-range label="禁用" disabled [(ngModel)]="model"></x-date-range>
</div>
<div class="row">
  <x-date-range label="边框" [(ngModel)]="model" bordered="false"></x-date-range>
</div>
<div class="row">
  <x-date-range label="提示文字" [(ngModel)]="model" [placeholder]="['开始', '结束']"></x-date-range>
</div>
