// Slider style paramters

$prefix: $nm-prefix + "-slider";

$slider-font-size: $font-size;
$slider-color: $primary-text-color;
$slider-border-color: $divider-color;

$slider-activated-color: $primary-color;
$slider-activated-border-color: $primary-color;
$slider-activated-background-color: rgba(0, 0, 0, 0.05);
