// Slider

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./mixin";

:host {
  @include reset-component();
  @include slider();
}

:host(.#{$prefix}-column) {
  > ul {
    flex-direction: column;
  }
}

:host(.#{$prefix}-border-position-top) {
  > ul > li {
    border-top-width: 2px;
  }
}

:host(.#{$prefix}-border-position-right) {
  > ul > li {
    border-right-width: 2px;
  }
}

:host(.#{$prefix}-border-position-bottom) {
  > ul > li {
    border-bottom-width: 2px;
  }
}

:host(.#{$prefix}-border-position-left) {
  > ul > li {
    border-left-width: 2px;
  }
}
