// Slider

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./mixin";

.#{$prefix} {
  @include reset-component();
  @include slider();

  &-column {
    > ul {
      flex-direction: column;
    }
  }

  &-border-show {
    &.#{$prefix}-border-position-top {
      > ul > li {
        border-top-width: 2px;
      }
    }

    &.#{$prefix}-border-position-right {
      > ul > li {
        border-right-width: 2px;
      }
    }

    &.#{$prefix}-border-position-bottom {
      > ul > li {
        border-bottom-width: 2px;
      }
    }

    &.#{$prefix}-border-position-left {
      > ul > li {
        border-left-width: 2px;
      }
    }
  }
}
