<div class="yonghu">
  <x-row>
    <x-col>
      <form [formGroup]="form">
        <x-select [data]="data1" formControlName="name"></x-select>
        <x-select [data]="data2" formControlName="nameCom"></x-select>
      </form>
      
    </x-col>
  </x-row>
  <x-row>
    <!-- <x-col>
      <x-select
        [selectAllText]="'选择所有用户'"
        [data]="data2"
        [(ngModel)]="model2"
        portalMaxHeight="10rem"
        [selectAll]="true"
        multiple
      ></x-select>
    </x-col> -->
  </x-row>
</div>
