:host {
  nm-row {
    margin: 1rem 0;
    > nm-col {
      color: #ffffff;
      padding: 1rem;
      text-align: center;
      &:nth-child(odd) {
        background-color: var(--nm-primary-color);
        opacity: 0.8;
      }
      &:nth-child(even) {
        background-color: var(--nm-primary-color);
      }
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
