<nm-buttons
  ><nm-button
    [nmIcon]="'fto-chevron-left'"
    [nmTitle]="'上一页'"
    [nmDisabled]="nmIndex === 1"
    (click)="jump(-1, true)"
  ></nm-button>
  <nm-button
    [nmLabel]="1"
    [nmActivated]="nmIndex === 1"
    (click)="jump(1)"
  ></nm-button>
  <nm-button
    *ngIf="indexLast > 9 && nmIndex - 3 > indexFirst"
    [nmIcon]="'fto-more-horizontal'"
    (click)="jump(-5, true)"
  ></nm-button>
  <nm-button
    *ngFor="let item of indexes"
    [nmLabel]="item"
    [nmActivated]="nmIndex === item"
    (click)="jump(item)"
  ></nm-button>
  <nm-button
    *ngIf="indexLast > 9 && nmIndex + 3 < indexLast"
    [nmIcon]="'fto-more-horizontal'"
    (click)="jump(5, true)"
  ></nm-button>
  <nm-button
    *ngIf="lastIndex > indexFirst"
    [nmLabel]="lastIndex"
    [nmActivated]="nmIndex === lastIndex"
    (click)="jump(lastIndex)"
  ></nm-button>
  <nm-button
    [nmIcon]="'fto-chevron-right'"
    [nmTitle]="'下一页'"
    [nmDisabled]="nmIndex === lastIndex"
    (click)="jump(1, true)"
  ></nm-button>
</nm-buttons>
<nm-button [nmLabel]="'共 ' + nmTotal + ' 条'"></nm-button>
