<nm-buttons
  ><nm-button
    [nmIcon]="'fto-chevron-left'"
    [nmTitle]="'上一页'"
    (click)="jump(-1, true)"
    [class.nm-button-disabled]="nmIndex === 1"
  ></nm-button>
  <nm-button
    [nmLabel]="1"
    (click)="jump(1)"
    [class.nm-button-selected]="nmIndex === 1"
  ></nm-button>
  <nm-button
    *ngIf="indexLast > 9 && nmIndex - 3 > indexFirst"
    [nmIcon]="'fto-more-horizontal'"
    (click)="jump(-5, true)"
  ></nm-button>
  <nm-button
    *ngFor="let item of indexes"
    [nmLabel]="item"
    (click)="jump(item)"
    [class.nm-button-selected]="nmIndex === item"
  ></nm-button>
  <nm-button
    *ngIf="indexLast > 9 && nmIndex + 3 < indexLast"
    [nmIcon]="'fto-more-horizontal'"
    (click)="jump(5, true)"
  ></nm-button>
  <nm-button
    [nmLabel]="lastIndex"
    (click)="jump(lastIndex)"
    *ngIf="lastIndex > indexFirst"
    [class.nm-button-selected]="nmIndex === lastIndex"
  ></nm-button>
  <nm-button
    [nmIcon]="'fto-chevron-right'"
    [nmTitle]="'下一页'"
    (click)="jump(1, true)"
    [class.nm-button-disabled]="nmIndex === lastIndex"
  ></nm-button>
</nm-buttons>
<nm-button [nmLabel]="'共 ' + nmTotal + ' 条'"></nm-button>
