<x-row>
  <x-col span="24">
    <x-date-picker placeholder="请选择日期" bordered="false"></x-date-picker>
  </x-col>
  <x-col span="24">
    <x-date-picker placeholder="请选择日期" bordered="false" label="日生:" direction="row" ></x-date-picker>
  </x-col>
  <x-col span="24">
    <x-date-picker placeholder="请选择日期" bordered="false" ></x-date-picker>
  </x-col>
  <x-col span="24">
    <x-date-picker placeholder="请选择日期" bordered="false" required></x-date-picker>
  </x-col>
  <x-col span="24">
    <x-date-picker placeholder="没有边框" bordered="false" disabled></x-date-picker>
  </x-col>
</x-row>
