<div x-dialog-title class="ns-theme-title">{{ 'header.theme' | xI18n }}</div>
<form x-dialog-content [formGroup]="formGroup" class="ns-theme-form">
  <div formGroupName="colors" class="ns-theme-category">
    <div class="item category">颜色</div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.primary' | xI18n" formControlName="primary"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.text' | xI18n" formControlName="text"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.success' | xI18n" formControlName="success"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.warning' | xI18n" formControlName="warning"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.danger' | xI18n" formControlName="danger"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.info' | xI18n" formControlName="info"></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker
        direction="row"
        [label]="'header.background' | xI18n"
        formControlName="background"
      ></x-color-picker>
    </div>
    <div class="item">
      <x-color-picker direction="row" [label]="'header.border' | xI18n" formControlName="border"></x-color-picker>
    </div>
  </div>
  <div formGroupName="vars" class="ns-theme-category">
    <div class="item category">其它参数</div>
    <div class="item">
      <x-slider-select
        direction="row"
        [label]="'header.fontSize' | xI18n"
        formControlName="fontSize"
        [min]="0.875"
        [step]="0.0625"
        [max]="2"
        [tooltipCustom]="pxTpl"
      ></x-slider-select>
    </div>
    <div class="item">
      <x-slider-select
        direction="row"
        [label]="'header.borderWidth' | xI18n"
        formControlName="borderWidth"
      ></x-slider-select>
    </div>
    <div class="item">
      <x-slider-select
        direction="row"
        [label]="'header.borderRadius' | xI18n"
        formControlName="borderRadius"
      ></x-slider-select>
    </div>
  </div>
</form>

<ng-template #pxTpl let-value="$value">{{ value * fontSize() }}px ({{ value }}rem)</ng-template>
