<div #list class="nm-tabs-list" [hidden]="sliderHidden">
  <nm-slider
    #slider
    [nmData]="sliderOption.nmData"
    [nmLayout]="sliderOption.nmLayout"
    [nmBorderPosition]="sliderOption.nmBorderPosition"
    [nmNodeTemplate]="sliderNodeTpl"
    [nmActivatedIndex]="sliderOption.nmActivatedIndex"
    (nmActivatedChange)="activatedChange($event)"
  ></nm-slider>
</div>
<div
  #content
  class="nm-tabs-contents"
  [class.nm-tabs-contents-animated]="
    nmLayout === 'top' || nmLayout === 'bottom'
  "
>
  <nm-tab-content
    *ngFor="let tab of listTabs; index as i"
    [nmActive]="nmActivatedIndex == i"
    [nmContent]="tab.content"
    [class.nm-tab-content-unactivated]="nmActivatedIndex != i"
    [style.transform]="
      'translate(' + (-nmActivatedIndex || 0) * 100 + '%, 0px)'
    "
  >
  </nm-tab-content>
</div>

<ng-template #sliderNodeTpl let-node="node$">
  <!-- Todo: 组件使用 ShadowDom 模式，传入的模板样式无法通过 class 指定-->
  <a class="">
    <span>{{ node.nmLabel }}</span>
  </a>
</ng-template>
