// Anchor

@import "../../../style/themes/default";
@import "../../../style/mixins/index";
@import "./mixin";

:host {
  @include reset-component();
  @include anchor();
}

:host(.#{$prefix}-open) {
  height: auto !important;
  margin: 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  > .#{$prefix}-content {
    width: 82%;
  }
  > .#{$prefix}-list {
    width: 18%;
    overflow-y: auto;
    overflow-x: hidden;
    height: fit-content;
    &-fixed {
      position: fixed;
      top: 0;
      max-height: 100%;
    }
    > nm-slider {
      width: 100%;
    }
  }
}
