@import "src/styles/index";

@mixin menusMixin() {
  min-width: 7rem;
  margin: 1.5rem 0;
  position: relative;
  height: fit-content;
  > li {
    list-style-type: none;
    // margin: 0 0.5rem;
    padding: 0.125rem 0.875rem;
    cursor: pointer;
    border-radius: 0.125rem;
    height: 2rem;
    border-right: 2px solid $border-color;
    &.active {
      // background-color: rgba($primary-text-color, 0.05);
      color: $primary-color;
    }
    &:hover {
      color: $primary-color;
    }
    &.menu-highlight {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      background: rgba($primary-text-color, 0.05);
      z-index: 1;
      height: 2rem;
      border-right: 2px solid $primary-color;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: width $transition-duration, left $transition-duration, top $transition-duration;
    }
  }
}

.nm-example {
  display: flex;
  box-shadow: $docs-box-shadow;
  ul.menus {
    @include menusMixin();
  }
  > div.contents {
    flex: 1;
    width: 100%;
    overflow: hidden;
    > div.row {
      padding: 1.5rem;
      display: none;
      position: relative;
      ul {
        margin: 0;
        > li {
          list-style-type: square;
        }
      }
      > div.component {
        background-color: white;
        > div.show {
          position: relative;
          padding: 2rem;
          margin-bottom: 1.5rem;
          border: 1px solid $docs-component-border-color;
          border-radius: 0.25rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 0;
          margin: 0;
          .nm-icon {
            font-size: 1.5rem;
          }
        }
        > div.code {
          position: relative;
          > div.tools {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            top: -1rem;
            > a {
              color: $secondary-text-color;
              height: 2rem;
              width: 2rem;
              border-radius: 1rem;
              line-height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;
              i {
                font-size: 1rem;
                transition: font-size $transition-duration;
              }
              &:hover {
                color: $primary-color;
              }
            }
          }
          > div.code-list {
            border-top: 1px dashed $docs-component-divider-border-color;
            height: 0;
            padding: 0;
            display: block;
            overflow: auto;
            background-color: $docs-code-background-color;
          }

          &.toggle {
            > div.tools {
              > a {
                // background-color: $docs-code-background-color;
                box-shadow: $docs-box-shadow;
              }
            }
            > div.code-list {
              // padding: 2rem;
              height: inherit;
              border: 1px solid $docs-component-border-color;
            }
          }
        }
        > div.explain {
          border: 1px solid $docs-component-border-color;
          border-radius: 0.25rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top: 0;
          padding: 2rem;
          > p {
            margin-top: 0;
          }
          > table {
            margin-top: 1rem;
          }
        }
      }
      > ul.icons {
        overflow: hidden;
        display: none;
        > li {
          float: left;
          list-style: none;
          width: 16.66%;
          margin: 0.125rem 0;
          padding-bottom: 0.25rem;
          cursor: pointer;
          transition: color $transition-duration ease-in-out,
            background-color $transition-duration ease-in-out;
          overflow: hidden;
          border-radius: 0.125rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          > .nm-icon {
            display: block;
            font-size: 1.5rem;
            margin: 1rem 0 0.25rem 0;
            transition: transform $transition-duration ease-in-out;
            transition-delay: 0.1s;
          }
          > span {
            font-size: 0.75rem;
            cursor: pointer;
          }
          &:hover {
            color: $primary-color;
            background-color: rgba($primary-text-color, 0.05);
            > .nm-icon {
              transform: scale(1.4);
            }
          }
        }
        &.show {
          display: inherit;
        }
      }
      > ul.child-menus {
        @include menusMixin();
        margin: 0 0 1rem 0;
        display: none;
        > li {
          list-style: none;
          border-right: 0;
          &.active {
            // background-color: rgba($primary-text-color, 0.05);
            border-color: $primary-color;
            background: rgba($primary-text-color, 0.05);
            border-bottom-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
      &.has-child-menus {
        padding-top: 1rem;
        > ul.child-menus {
          display: flex;
        }
      }
      &.active {
        display: block;
      }
      // > ul.child-menus {
      //   margin-bottom: 1rem;
      //   display: none;
      //   > li {
      //     list-style: none;
      //     cursor: pointer;
      //     margin: 0.125rem 0;
      //     padding: 0.125rem 0.875rem;
      //     border-radius: 0.125rem;
      //     border-bottom: 2px solid $border-color;
      //     &.active {
      //       color: $primary-color;
      //       background: rgba($primary-text-color, 0.05);
      //     }
      //     &.hover {
      //       color: $primary-color;
      //     }
      //   }
      // }
      // &.has-child-menus {
      //   padding-top: 1rem;
      //   > ul.child-menus {
      //     display: flex;
      //   }
      // }
    }
  }
  &-column {
    flex-direction: column;
    ul.menus,
    ul.child-menus {
      display: flex;
      overflow: hidden;
      margin: 1.5rem 1.5rem 0;
      > li {
        border-right: 0;
        margin: 0;
        white-space: nowrap;
        border-bottom: 2px solid $border-color;
        min-width: 5rem;
        text-align: center;
        &.menu-highlight {
          border-right: 0;
          border-bottom: 2px solid $primary-color;
          border-top-right-radius: 0.125rem;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}
