@import "src/styles/index";

.nm-example {
  display: flex;
  min-height: 20rem;
  box-shadow: $docs-box-shadow;
  > ul.menus {
    min-width: 7rem;
    margin: 0;
    padding: 0.5rem 0;
    border-right: 1px solid $border-color;
    > li {
      list-style-type: none;
      margin: 0 0.5rem;
      padding: 0.125rem 0.875rem;
      cursor: pointer;
      border-radius: 0.125rem;
      &.active {
        background-color: rgba($primary-text-color, 0.05);
        color: $primary-color;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
  > div.contents {
    flex: 1;
    > div.row {
      padding: 1.5rem;
      display: none;
      &.active {
        display: block;
      }
      > div.component {
        > p {
          position: relative;
          padding: 2rem;
          margin-bottom: 1.5rem;
          border: 1px solid $docs-component-border-color;
          background-color: white;
          border-radius: 0.25rem;
          margin: 0;
        }
        > div.explain {
          border: 1px solid $docs-component-border-color;
          border-top: 0;
          background-color: white;
          padding: 0.125rem 2rem;
        }
      }
      ul {
        > li {
          list-style-type: square;
        }
      }
    }
  }
}
