@import "src/styles/index";

.nm-example {
  display: flex;
  box-shadow: $docs-box-shadow;
  > ul.menus {
    min-width: 7rem;
    margin: 0;
    padding: 0.5rem 0;
    border-right: 1px solid $border-color;
    > li {
      list-style-type: none;
      margin: 0 0.5rem;
      padding: 0.125rem 0.875rem;
      cursor: pointer;
      border-radius: 0.125rem;
      &.active {
        background-color: rgba($primary-text-color, 0.05);
        color: $primary-color;
      }
      &:hover {
        color: $primary-color;
      }
    }
  }
  > div.contents {
    flex: 1;
    width: 100%;
    overflow: hidden;
    > div.row {
      padding: 1.5rem;
      display: none;
      &.active {
        display: block;
      }
      > div.component {
        background-color: white;
        > div.show {
          position: relative;
          padding: 2rem;
          margin-bottom: 1.5rem;
          border: 1px solid $docs-component-border-color;
          border-radius: 0.25rem;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-bottom: 0;
          margin: 0;
        }
        > div.code {
          position: relative;
          > div.tools {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            left: 0;
            top: -1rem;
            > a {
              color: $secondary-text-color;
              height: 2rem;
              width: 2rem;
              border-radius: 1rem;
              line-height: 2rem;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: white;
              i {
                font-size: 1rem;
                transition: font-size $transition-duration;
              }
              &:hover {
                color: $primary-color;
              }
            }
          }
          > div.code-list {
            border-top: 1px dashed $docs-component-divider-border-color;
            height: 0;
            padding: 0;
            display: block;
            overflow: auto;
            background-color: $docs-code-background-color;
          }

          &.toggle {
            > div.tools {
              > a {
                // background-color: $docs-code-background-color;
                box-shadow: $docs-box-shadow;
              }
            }
            > div.code-list {
              // padding: 2rem;
              height: inherit;
              border: 1px solid $docs-component-border-color;
            }
          }
        }
        > div.explain {
          border: 1px solid $docs-component-border-color;
          border-radius: 0.25rem;
          border-top-left-radius: 0;
          border-top-right-radius: 0;
          border-top: 0;
          padding: 1.125rem 2rem;
        }
      }
      ul {
        > li {
          list-style-type: square;
        }
      }
    }
  }
}
