<div class="nm-table-tool">
  <nm-buttons [nmSpace]="1">
    <nm-button [nmLabel]="'新增'" [nmIcon]="'ado-plus'"></nm-button>
    <nm-button [nmLabel]="'下载'" [nmIcon]="'ado-download'"></nm-button>
    <nm-button [nmLabel]="'批量操作'" [nmIcon]="'ado-bars'"></nm-button>
  </nm-buttons>
</div>
<div class="nm-table-header">
  <ul>
    <li>歌曲</li>
    <li>歌手</li>
    <li>专辑</li>
  </ul>
</div>
<div class="nm-table-body">
  <ul>
    <li>Free Loop <span>福特轿车广告曲</span></li>
    <li>Daniel Powter</li>
    <li>Daniel Powter</li>
  </ul>
  <ul>
    <li>Free Loop <span>福特轿车广告曲</span></li>
    <li>Daniel Powter</li>
    <li>Daniel Powter</li>
  </ul>
  <ul>
    <li>Free Loop <span>福特轿车广告曲</span></li>
    <li>Daniel Powter</li>
    <li>Daniel Powter</li>
  </ul>
  <ul>
    <li>Free Loop <span>福特轿车广告曲</span></li>
    <li>Daniel Powter</li>
    <li>Daniel Powter</li>
  </ul>
</div>
<div class="nm-table-footer"></div>
