<div class="nm-table-tool">
  <div class="nm-table-tool-left">
    <nm-buttons [nmSpace]="1">
      <nm-button
        *ngFor="let button of topLeftActions"
        [nmLabel]="button.nmLabel"
        [nmIcon]="button.nmIcon"
      ></nm-button>
    </nm-buttons>
  </div>
  <div class="nm-table-tool-right">
    <nm-buttons>
      <nm-button
        *ngFor="let button of topRightActions"
        [nmIcon]="button.nmIcon"
      ></nm-button>
    </nm-buttons>
  </div>
</div>
<div class="nm-table-header">
  <ul>
    <ng-container *ngFor="let column of nmColumns">
      <li [style.width.rem]="column.nmWidth" [style.flex]="column.nmFlex">
        {{ column.nmLabel }}
      </li>
    </ng-container>
  </ul>
</div>
<div class="nm-table-body">
  <ul *ngFor="let item of data">
    <ng-container *ngFor="let column of nmColumns">
      <li
        [style.width.rem]="column.nmWidth"
        [style.flex]="column.nmFlex"
        [title]="item[column.nmKey]"
        [innerHTML]="item[column.nmKey]"
      ></li>
    </ng-container>
  </ul>
</div>
<div class="nm-table-footer"></div>
