@import "src/styles/index";

ns-docs {
  padding: 1.5rem 3rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 500;
    margin: 2.25rem 0 1rem;
    clear: both;
  }

  p {
    font-weight: 400;
    margin: 0.875rem 0 0;
  }

  ul {
    margin: 0.875rem 0;
    > li {
      list-style-type: circle;
      margin-left: 1.25rem;
      line-height: 1.75rem;
    }
  }
}
