@import "src/styles/index";

ns-docs {
  padding: 1.5rem 3rem;
  display: block;
  font-size: 0.875rem;
  line-height: 1.5rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem 0;
  }

  h2 {
    font-size: 1.375rem;
    font-weight: 500;
    margin: 2.25rem 0 1rem;
    clear: both;
  }

  h3 {
    font-size: 1.125rem;
    font-weight: 500;
    margin: 1.5rem 0 1rem;
    clear: both;
  }

  h4 {
    font-size: 1rem;
    font-weight: 500;
    margin: 1.125rem 0 0.875rem;
    clear: both;
  }

  p {
    font-weight: 400;
    margin: 0.875rem 0 0;
  }

  blockquote {
    margin: 0;
  }

  ul {
    margin: 0.875rem 0;
    > li {
      list-style-type: circle;
      margin-left: 1.25rem;
      line-height: 1.75rem;
    }
  }

  li > code,
  p > code {
    background-color: rgba($docs-span-red, 0.1);
    color: $docs-span-red;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid $docs-component-border-color;
    tr > th,
    tr > td {
      border-right: 2px solid $docs-component-border-color;
      border-bottom: 2px solid $docs-component-border-color;
      text-align: left;
      padding: 0.25rem;
    }
  }
}
