<div class="row">
  <x-date-picker
    [extraFooter]="'Custom footer'"
    label="日期"
    [(ngModel)]="modelPicker"
    (ngModelChange)="change($event)"
  ></x-date-picker>
</div>
<div class="row">
  <x-date-picker
    [extraFooter]="'Custom footer'"
    label="日期时分秒"
    [(ngModel)]="modelPicker"
    (ngModelChange)="change($event)"
    type="date-time"
  ></x-date-picker>
</div>
<div class="row">
  <x-date-range
    [extraFooter]="'Custom footer'"
    label="范围日期"
    [(ngModel)]="modelRange"
    (ngModelChange)="change($event)"
  ></x-date-range>
</div>
<div class="row">
  <x-date-range
    [extraFooter]="'Custom footer'"
    label="选择月"
    [(ngModel)]="modelMonth"
    (ngModelChange)="change($event)"
    type="month"
  ></x-date-range>
</div>
<div class="row">
  <x-date-range
    [extraFooter]="'Custom footer'"
    label="选择年"
    [(ngModel)]="modelYear"
    (ngModelChange)="change($event)"
    type="year"
  ></x-date-range>
</div>
<div class="row">
  <x-date-range
    [extraFooter]="'Custom footer'"
    label="选择日期（时间）"
    [(ngModel)]="modelDateTime"
    (ngModelChange)="change($event)"
    type="date-time"
  ></x-date-range>
</div>
