@import '../../styles/index.scss';

:host {
  .ns-reference-content {
    .property {
      &:not(:first-child) {
        margin-top: $--x-padding-large;
      }
      > div:not(:first-child) {
        margin-top: $--x-padding-mini;
      }
      .label {
        color: $--x-text;
        display: flex;
        align-items: center;
        padding: 0 $--x-padding-mini;
        > code {
          color: #f637e3;
        }
        > span {
          margin-left: 1rem;
        }
        .type {
          margin-left: 1rem;
          padding: 0 0.5rem;
          color: $--x-danger;
          background: $--x-danger-900;
          border-radius: $--x-border-small-radius;
          line-height: 1.5rem;
        }
      }
      .value {
        color: #fa2c05;
        padding: $--x-padding-mini $--x-padding-medium;
        border-radius: $--x-border-small-radius;
        background-color: $--x-danger-900;
      }
      .description {
        color: $--x-text-200;
        padding: $--x-padding-mini $--x-padding-medium;
        border-radius: $--x-border-small-radius;
        background-color: $--x-background-a100;
      }
      .example {
        padding: $--x-padding-mini $--x-padding-medium;
        border-radius: $--x-border-small-radius;
        border: $--x-border-base;
      }
      .extends {
        color: $--x-text;
        display: flex;
        align-items: center;
        padding: $--x-padding-mini $--x-padding-medium;
        border-radius: $--x-border-small-radius;
        background-color: $--x-primary-900;
        > span {
          color: #3b82f6;
        }
        > code {
          color: #f637e3;
          margin-left: $--x-padding-medium;
        }
      }
      .children {
        padding-left: $--x-padding-large;
        .property {
          padding: 0 1.5rem;
        }
      }
      .properties {
        padding: $--x-padding-mini $--x-padding-medium;
        border-radius: $--x-border-small-radius;
        background-color: $--x-background-a100;
        .row {
          &:not(:first-child) {
            margin-top: $--x-padding-mini;
          }
          code {
            text-align: left;
            padding: $--x-padding-mini 0;
            &:not(:first-child) {
              margin-left: $--x-padding-medium;
            }
            &:nth-child(1) {
              color: #3b82f6;
            }
            &:nth-child(2) {
              color: #f637e3;
            }
            &:nth-child(4) {
              color: #fa2c05;
            }
          }
          span {
            margin-left: $--x-padding-medium;
          }
        }
      }
    }
  }
  .ns-reference-close {
    position: absolute;
    right: -3rem;
    top: 1rem;
  }
}

::ng-deep .ns-reference {
  .x-dialog-portal {
    padding-top: 0;
    padding-bottom: 0;
  }
  .x-dialog-portal-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
