// Grid

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./param";

@mixin grid {
  width: 100%;
  display: block;
  .nm-row {
    display: block;
    &:before,
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .nm-col {
      position: relative;
      float: left;
      display: block;
      overflow: auto;
      &.col-12 {
        width: 100%;
      }
      &.col-11 {
        width: 91.66666667%;
      }
      &.col-10 {
        width: 83.33333333%;
      }
      &.col-9 {
        width: 75%;
      }
      &.col-8 {
        width: 66.66666667%;
      }
      &.col-7 {
        width: 58.33333333%;
      }
      &.col-6 {
        width: 50%;
      }
      &.col-5 {
        width: 41.66666667%;
      }
      &.col-4 {
        width: 33.33333333%;
      }
      &.col-3 {
        width: 25%;
      }
      &.col-2 {
        width: 16.66666667%;
      }
      &.col-1 {
        width: 8.33333333%;
      }
      &.col-0 {
        width: inherit;
      }
    }
  }
}
