<ul #crumbs>
  <li *ngFor="let item of data; index as i">
    <span
      class="nm-crumb-link"
      [title]="nmNodeTemplate ? item.nmLabel : ''"
      (click)="action('click', item, $event)"
    >
      <ng-container *ngIf="!nmNodeTemplate">{{ item.nmLabel }}</ng-container>
      <ng-container *ngIf="nmNodeTemplate">
        <ng-container
          *ngTemplateOutlet="nmNodeTemplate; context: { node$: item }"
        ></ng-container>
      </ng-container>
    </span>
    <span class="nm-crumb-separator" *ngIf="i !== data.length - 1">/</span>
  </li>
</ul>
