<x-examples>
  <x-tabs layout="left" nodeJustify="start" size="large" type="block" animated="false" showExpand>
    <x-tab label="主色">
      <x-tabs layout="top" nodeJustify="center" size="big" type="block" animated="false" showExpand>
        <x-tab label="主色">
          <div class="x-examples-html">
            <!-- <ex-default></ex-default> -->
            <h1>示例1</h1>
            <div class="x-examples-tools">
              <x-buttons space="0.2" hiddenBorder>
                <x-button
                  icon="fto-zap"
                  onlyIcon
                  x-tooltip
                  content="从 StackBlitz 打开"
                  placement="top"
                  (click)="
                    this.ois.openStackBlitz('default', [], ['layout', 'color', 'theme'], [], {
                      'src/app/default/default.component.html': dyeeci,
                      'src/app/default/default.component.scss': yefpup,
                      'src/app/default/default.component.ts': xipbkj
                    })
                  "
                ></x-button>
              </x-buttons>
            </div>
          </div>

          <div class="x-examples-info">
            <p>主要品牌颜色。</p>
            <ul>
              <li>通过指定 <code>hex</code> 来设定主色调，自动生成对应的 <code>10</code> 种渐变色。</li>
            </ul>
          </div>

          <div class="x-examples-code">
            <x-tabs layout="top" nodeJustify="center" size="medium" type="tag" animated="false" showExpand>
              <x-tab label="default.component.html"><x-highlight [type]="'html'" [data]="dyeeci" showCopy></x-highlight> </x-tab>
              <x-tab label="default.component.scss"><x-highlight [type]="'scss'" [data]="yefpup" showCopy></x-highlight> </x-tab>
              <x-tab label="default.component.ts"><x-highlight [type]="'typescript'" [data]="xipbkj" showCopy></x-highlight> </x-tab>
            </x-tabs>
          </div>
        </x-tab>
        <x-tab label="辅助色">
          <div class="x-examples-html">
            <!-- <ex-assist></ex-assist> -->
            <h1>示例2</h1>
            <div class="x-examples-tools">
              <x-buttons space="0.2" hiddenBorder>
                <x-button
                  icon="fto-zap"
                  onlyIcon
                  x-tooltip
                  content="从 StackBlitz 打开"
                  placement="top"
                  (click)="
                    this.ois.openStackBlitz('assist', [], ['layout', 'color', 'theme'], [], {
                      'src/app/assist/assist.component.html': gkgimr,
                      'src/app/assist/assist.component.ts': ckqkcc
                    })
                  "
                ></x-button>
              </x-buttons>
            </div>
          </div>

          <div class="x-examples-info"><p>除了主色外的场景色，需要在不同的场景中使用（例如危险色表示危险的操作）。</p></div>

          <div class="x-examples-code">
            <x-tabs layout="top" nodeJustify="center" size="medium" type="tag" animated="false" showExpand>
              <x-tab label="assist.component.html"><x-highlight [type]="'html'" [data]="gkgimr" showCopy></x-highlight> </x-tab>
              <x-tab label="assist.component.ts"><x-highlight [type]="'typescript'" [data]="ckqkcc" showCopy></x-highlight> </x-tab>
            </x-tabs>
          </div>
        </x-tab>
        <x-tab label="中性色">
          <div class="x-examples-html">
            <!-- <ex-neutral></ex-neutral> -->
            <h1>示例3</h1>
            <div class="x-examples-tools">
              <x-buttons space="0.2" hiddenBorder>
                <x-button
                  icon="fto-zap"
                  onlyIcon
                  x-tooltip
                  content="从 StackBlitz 打开"
                  placement="top"
                  (click)="
                    this.ois.openStackBlitz('neutral', [], ['layout', 'color', 'theme'], [], {
                      'src/app/neutral/neutral.component.html': cxsivi,
                      'src/app/neutral/neutral.component.scss': ldghte,
                      'src/app/neutral/neutral.component.ts': liqvvc
                    })
                  "
                ></x-button>
              </x-buttons>
            </div>
          </div>

          <div class="x-examples-info"><p>中性色用于文本、背景和边框颜色。通过运用不同的中性色，来表现层次结构。</p></div>

          <div class="x-examples-code">
            <x-tabs layout="top" nodeJustify="center" size="medium" type="tag" animated="false" showExpand>
              <x-tab label="neutral.component.html"><x-highlight [type]="'html'" [data]="cxsivi" showCopy></x-highlight> </x-tab>
              <x-tab label="neutral.component.scss"><x-highlight [type]="'scss'" [data]="ldghte" showCopy></x-highlight> </x-tab>
              <x-tab label="neutral.component.ts"><x-highlight [type]="'typescript'" [data]="liqvvc" showCopy></x-highlight> </x-tab>
            </x-tabs>
          </div>
        </x-tab>
      </x-tabs>
    </x-tab>
  </x-tabs>
</x-examples>
