<nm-examples>
  <nm-tabs>
    <nm-tab [nmLabel]="'Home'"
      ><h1>1 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p></nm-tab
    >
    <nm-tab [nmLabel]="'Docs'"
      ><h1>2 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p></nm-tab
    >
    <nm-tab [nmLabel]="'Examples'"
      ><h1>3 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p></nm-tab
    >
    <nm-tab [nmLabel]="'Api'"
      ><h1>4 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p></nm-tab
    >
  </nm-tabs>
</nm-examples>
