<x-row>
  <x-col span="24">
    <x-tree-select
      [style.width.rem]="18"
      label="输入搜索"
      [data]="data1"
      [(ngModel)]="model1"
      (ngModelChange)="change($event)"
      search
    ></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select
      [style.width.rem]="18"
      label="输入搜索（异步）"
      [data]="data2"
      [(ngModel)]="model2"
      (ngModelChange)="change($event)"
      search
      async
    ></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select
      [style.width.rem]="18"
      label="搜索多选"
      [data]="data3"
      [(ngModel)]="model3"
      (ngModelChange)="change($event)"
      search
      multiple
    ></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select
      [style.width.rem]="18"
      label="搜索多选（异步）"
      [data]="data4"
      [(ngModel)]="model4"
      (ngModelChange)="change($event)"
      search
      multiple
      async
    ></x-tree-select>
  </x-col>

  <!--<x-col>
    <x-select
      label="搜索多选(更多)"
      [maxTagCount]="3"
      [data]="dataMultipleMore"
      [(ngModel)]="modelMultipleMore"
      (ngModelChange)="change($event)"
      multiple
    ></x-select>
  </x-col>
  <x-col>
    <x-select
      label="搜索多选(更多自定义模版)"
      [maxTagCount]="3"
      [maxTagContent]="maxTagContentTpl"
      [data]="dataMultipleMoreTpl"
      [(ngModel)]="modelMultipleMoreTpl"
      (ngModelChange)="change($event)"
      search
      multiple
    ></x-select>
    <ng-template #maxTagContentTpl let-surplus="$surplus" let-total="$total">更多{{ surplus }},共{{ total }}</ng-template>
  </x-col> -->
</x-row>
