// Input

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./mixin";

:host {
  @include reset-component();
  @include input();
}

:host(.#{$prefix}-required) {
  > label {
    &:after {
      content: "*";
      font-size: $font-size + 0.375rem;
      margin-left: 0.125rem;
      color: $accent-color;
      position: absolute;
    }
  }
}

:host(.#{$prefix}-horizontal) {
  align-items: center;
  label {
    margin-right: 0.375rem;
  }
}

:host(.#{$prefix}-vertical) {
  flex-direction: column;
  label {
    display: inline-block;
    margin-bottom: 0.125rem;
  }
}
