<x-row>
  <x-col span="24">
    <x-tree-select [style.width.rem]="24" [data]="data1" [(ngModel)]="model1" (ngModelChange)="change(model1)" multiple></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select [style.width.rem]="24" [data]="data2" [(ngModel)]="model2" (ngModelChange)="change(model2)" multiple></x-tree-select>
  </x-col>
  <!-- <x-col span="24">
    <x-select [data]="data2" [(ngModel)]="model2" (ngModelChange)="change(model2)" multiple></x-select>
  </x-col> -->
</x-row>
<!-- <x-row>
  <x-col>
    <x-tree-select [data]="data2" [(ngModel)]="model2" (ngModelChange)="change(model2)" multiple></x-tree-select>
  </x-col>
</x-row>
<x-row>
  <x-col> 全选 </x-col>
</x-row>
<x-row>
  <x-col>
    <x-tree-select [data]="data3" [(ngModel)]="model3" (ngModelChange)="change(model3)" multiple tree-selectAll></x-tree-select>
  </x-col>
</x-row>
<x-row>
  <x-col>
    <x-tree-select
      [data]="data4"
      [(ngModel)]="model4"
      (ngModelChange)="change(model4)"
      multiple
      tree-selectAll
      tree-selectAllText="选择所有选项"
    ></x-tree-select>
  </x-col>
</x-row> -->
