<nm-tabs>
  <nm-tab [nmLabel]="'栅格'">
    <h1>1 栅格</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'代码高亮'">
    <h1>2 代码高亮</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'SVG图标'">
    <h1>3 SVG图标</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'滑块'">
    <h1>4 滑块</h1>
  </nm-tab>
</nm-tabs>
<nm-tabs [nmActivatedIndex]="1">
  <nm-tab [nmLabel]="'栅格'">
    <h1>1 栅格</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'代码高亮'">
    <h1>2 代码高亮</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'SVG图标'">
    <h1>3 SVG图标</h1>
  </nm-tab>
  <nm-tab [nmLabel]="'滑块'">
    <h1>4 滑块</h1>
  </nm-tab>
</nm-tabs>
