// Button

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./param";

@mixin button {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.125rem;
  padding: 0.25rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.02);
  background-clip: border-box;
  color: $primary-text-color;
}
