<div class="row">
  <x-progress percent="80" type="dashboard" [notchAngle]="90"></x-progress>
  <x-progress percent="80" type="dashboard" [notchAngle]="180"></x-progress>
  <x-progress percent="80" type="dashboard" [notchAngle]="270"></x-progress>
  <br />
  <!-- <x-progress percent="40" type="dashboard" size="10rem" thickness="2rem"></x-progress>
  <br />
  <x-progress percent="40" type="dashboard" status="exception"></x-progress>
  <x-progress percent="80" type="dashboard" status="warning"></x-progress>
  <x-progress percent="100" type="dashboard" status="success"></x-progress> -->
</div>
