// Examples

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./param";

@mixin examples {
  display: flex;
  box-shadow: 0 0 0.375rem rgba(197, 197, 197, 0.7);
  padding: 1rem;
  .#{$prefix}-html,
  .#{$prefix}-code,
  .#{$prefix}-info {
    padding: 1rem;
  }
  .#{$prefix}-code {
    border-top: 1px solid #f2f2f2;
    > nm-tabs {
      padding-top: 0;
      background-color: #eff0f1;
      > .nm-tabs-content > nm-tab-content > nm-highlight {
        background-color: transparent;
      }
    }
  }
  .#{$prefix}-info {
    border-top: 1px solid #f2f2f2;
    > ul > li {
      list-style-type: square;
      margin-left: 1.25rem;
      line-height: 1.75rem;
    }
  }
  > nm-tabs {
    width: 100%;
    > .nm-tabs-list > nm-slider {
      min-width: 6rem;
    }
    > .nm-tabs-content > nm-tab-content {
      > nm-tabs {
        padding-top: 0;
        > .nm-tabs-content > nm-tab-content {
          border: 1px solid #f2f2f2;
          border-radius: 0.25rem;
          background-color: #fff;
        }
      }
    }
  }
}
