// Examples

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./param";

@mixin examples {
  display: flex;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  .#{$prefix}-html,
  .#{$prefix}-code {
    padding: 1rem;
  }
  .#{$prefix}-code {
    > .nm-tabs {
      padding-top: 0;
      background-color: #eff0f1;
      > .nm-tabs-contents > .nm-tab-content > .nm-highlight {
        background-color: transparent;
      }
    }
  }
  .#{$prefix}-info {
    border-top: 1px dashed #e6e6e6;
    border-bottom: 1px dashed #e6e6e6;
    padding: 1rem 0;
    margin: 0 1rem;
    > ul > li {
      list-style-type: square;
      margin-left: 1.25rem;
      line-height: 1.75rem;
    }
  }
  > .nm-tabs {
    width: 100%;
    > .nm-tabs-list {
      padding: 1rem;
      border-right: 1px solid #e8e8e8;
      > .nm-slider {
        min-width: 6rem;
        &.nm-slider-border-position-right > ul > li {
          border-right-width: 0;
          height: 2rem;
          line-height: 2rem;
        }
      }
    }
    > .nm-tabs-contents {
      padding-left: 0;
      > .nm-tab-content {
        > .nm-tabs {
          padding-top: 0;
          > .nm-tabs-list {
            padding: 1rem 1rem 0 1rem;
            > .nm-slider {
              &.nm-slider-border-position-bottom > ul > li {
                height: 2rem;
                line-height: 2rem;
              }
            }
          }
          > .nm-tabs-contents {
            > .nm-tab-content {
              border-radius: 0.25rem;
            }
          }
        }
      }
    }
  }
}
