// Examples style paramters

$prefix: $nm-prefix + "-examples";

$examples-box-shadow: 0 0 0.375rem rgba(197, 197, 197, 0.7);
$examples-component-border-color: lighten(black, 95%);
$examples-component-divider-border-color: lighten(black, 90%);
$examples-code-background-color: lighten(black, 97%);
$examples-span-red: #c7254e;
