<x-row>
  <x-col span="24">
    <x-upload action="http://localhost:3000/upload" [text]="textTpl" type="img" multiple></x-upload>
    <ng-template #textTpl>
      <x-icon class="upload-icon" type="fto-upload"></x-icon>
      <span>选择图片</span>
    </ng-template>
  </x-col>
  <x-col span="24">
    <x-upload action="http://localhost:3000/upload" [text]="textTpl" type="img" multiple [(ngModel)]="imgs" multipleModel="add"></x-upload>
    <ng-template #textTpl>
      <x-icon class="upload-icon" type="fto-upload"></x-icon>
      <span>选择图片</span>
    </ng-template>
  </x-col>
</x-row>
