// Style style paramters

$prefix: $nm-prefix + "-style";

$style-box-shadow: 0 0 0.375rem rgba(197, 197, 197, 0.7);
$style-component-border-color: lighten(black, 95%);
$style-component-divider-border-color: lighten(black, 90%);
$style-code-background-color: lighten(black, 97%);
$style-span-red: #c7254e;
