@import 'src/styles/index';

ns-header {
  height: $header-height;
  background-color: $--x-background-100;
  width: 100%;
  z-index: 10;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  opacity: 1;
  transition: margin $transition-duration-slow, opacity $transition-duration-slow;
  box-shadow: $--x-box-shadow-light;
  > x-button.menu {
    margin-left: 0.875rem;
    .x-button .x-icon {
      font-size: 1.25rem;
    }
  }
}

ns-logo {
  width: 100%;
  min-width: $sider-width;
  > section {
    position: relative;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inner {
      display: flex;
      align-items: center;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    h1 {
      margin: 0.875rem;
      span {
        font-size: 0.75rem;
        margin-left: 0.5rem;
        color: var(--x-text-400);
        font-weight: 500;
      }
    }
  }
}

ns-nav {
  padding: 1rem;
  > section {
    display: flex;
    align-items: center;
    > .item {
      .x-button {
        font-size: 0.925rem;
      }
      &:not(:first-child) {
        margin-left: 1rem;
      }
      &.version {
        width: 6rem;
      }
      &.github {
        .x-button > .x-icon {
          font-size: 1.25rem;
        }
      }
      &.lang {
        .x-button {
          width: 4.625rem;
        }
      }
    }
  }
}

ns-sider {
  height: 100%;
  width: $sider-width + 0.0625rem;
  background-color: $--x-background;
  margin-left: -#{$sider-width};
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  border-right: 0.0625rem solid $--x-border;
  // box-shadow: $box-shadow;
  transition: margin $transition-duration-slow, opacity $transition-duration-slow;
  > section {
    position: relative;
    height: 100%;
    width: $sider-width;
    padding: 2rem 0;
    float: left;
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
  }
  x-menu {
    .x-menu.x-menu-column {
      width: $sider-width;
    }
    .x-menu-nodes > .x-menu-node {
      border-right: none;
      margin: 0 0.5rem;
      &.x-activated::after {
        border-right: none;
      }
      &.x-menu-category > x-menu-node {
        // border-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
  &.drawer {
    margin-left: 0;
    opacity: 1;
    > section {
      overflow-y: auto;
    }
  }
}

ns-content {
  width: 100%;
  display: block;
  transition: padding-left $transition-duration-slow, padding-top $transition-duration-slow;
  padding-bottom: $header-height;
  > ns-footer {
    width: 100%;
    display: block;
    background-color: $--x-background;
    > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      > p,
      > a {
        text-align: center;
        font-size: 0.825rem;
        line-height: 1.75rem;
        color: $--x-text;
      }
      > a:hover {
        color: $--x-primary;
      }
    }
  }
}

ns-affix {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 2rem;
  right: 2rem;
  z-index: 11;
  > x-button {
    &:not(:first-child) {
      margin-top: 0.25rem;
    }
    .x-button.x-size-big {
      width: 2.25rem;
    }
  }
}
