@import '../../styles/index.scss';

ns-header {
  height: $--header-width;
  background-color: $--x-background;
  width: 100%;
  z-index: 10;
  display: flex;
  position: sticky;
  top: 0;
  align-items: center;
  box-sizing: border-box;
  opacity: 1;
  transition:
    margin $--transition-duration-slow,
    opacity $--transition-duration-slow;
  border-block-end: $--layout-border;
  > x-button.menu {
    margin: 0 $--x-font-size;
    .x-button .x-icon {
      font-size: 1.25rem;
    }
    &.right {
      position: absolute;
      right: 0;
    }
  }
}

ns-logo {
  width: $--sider-width;
  > section {
    position: relative;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .inner {
      display: flex;
      align-items: center;
    }
    .logo {
      display: flex;
      align-items: center;
    }
    h1 {
      margin: $--x-font-size;
      white-space: nowrap;
      span {
        font-size: var(--x-font-size);
        margin-left: 0.5rem;
        color: var(--x-text-400);
        font-weight: 500;
      }
    }
  }
}

ns-nav {
  padding: 0 1rem;
  flex: 1;
  > section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    > .item {
      .x-button {
        font-size: $--x-font-size;
      }
      &:not(:first-child) {
        margin-left: 1rem;
      }
      &.github,
      &.theme {
        .x-button > .x-icon {
          font-size: 1.25rem;
        }
      }
      &.no-margin {
        margin-left: 0;
      }
      &.slider {
        font-size: $--x-font-size;

        .x-slider-scroll > ul > li {
          min-width: 5rem;
        }
      }
    }
  }
}

ns-search {
  > section {
    width: $--sider-width;
    x-auto-complete {
      width: 100%;
      x-input {
        width: 100%;
      }
    }
  }
}

ns-sider {
  height: 100%;
  width: $--sider-width + 0.0625rem;
  background-color: $--x-background;
  margin-left: -#{$--sider-width};
  opacity: 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9;
  border-inline-end: $--layout-border;
  transition:
    margin $--transition-duration-slow,
    opacity $--transition-duration-slow;
  > section {
    position: relative;
    height: 100%;
    width: $--sider-width;
    padding: 2rem 0 4rem 0;
    float: left;
    overflow: hidden;
    &:hover {
      overflow-y: auto;
    }
  }
  x-menu {
    .x-menu.x-menu-column {
      width: $--sider-width;
    }
    .x-menu-nodes > .x-menu-node {
      border-right: none;
      margin: 0 0.5rem;
      &.x-activated::after {
        border-right: none;
      }
    }
  }
}

ns-content {
  width: 100%;
  display: block;
  transition:
    padding-left $--transition-duration-slow,
    padding-top $--transition-duration-slow;
  padding-bottom: $--header-width;
  > ns-footer {
    width: 100%;
    display: block;
    background-color: $--x-background;
    > section {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
      > p,
      > a {
        text-align: center;
        font-size: 0.825rem;
        line-height: 1.75rem;
        color: $--x-text;
      }
      > a:hover {
        color: $--x-primary;
      }
    }
  }
}

ns-affix {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 2rem;
  right: 2rem;
  z-index: 11;
  > x-button {
    &:not(:first-child) {
      margin-top: 0.25rem;
    }
    .x-button.x-size-big {
      width: 2.25rem;
    }
  }
}

.drawer {
  ns-nav {
    padding: 0;
    > section {
      flex-direction: column;
      > .item {
        &:not(:first-child) {
          margin-left: 0;
          margin-top: 1rem;
        }
      }
    }
  }

  .x-drawer-no-title .x-drawer-content {
    padding: 0;
  }

  ns-sider {
    margin-left: 0;
    opacity: 1;
    position: absolute;
    transition: none;
    > section {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.small {
  ns-search {
    display: none;
  }
}
.xsmall {
  ns-search {
    display: none;
  }
  ns-nav {
    display: none;
  }
}
