@import "src/styles/index";

@mixin hover {
  background-color: rgba(0, 0, 0, 0.02);
}

@mixin activated {
  color: $primary-color;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.02);
}

ns-layout {
  > ns-header {
    height: $header-height;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    box-sizing: border-box;
    position: relative;
    > ul {
      display: flex;
      align-items: center;
      > li {
        > a {
          padding: 0.5rem 1rem;
          margin: 0 0.125rem;
          color: $primary-color-text;
          &:hover,
          &.active {
            color: $primary-color-text;
            opacity: 0.7;
          }
        }
        &.logo {
          display: flex;
          align-items: center;
          margin-right: 0.5rem;
          > img {
            width: 3rem;
          }
        }
      }
    }
  }

  > ns-sider {
    background-color: #f0f0f0;
    height: calc(100% - #{$header-height});
    width: 0;
    overflow: hidden;
    position: fixed;
    top: $header-height;
    left: 0;
    z-index: 9;
    // box-shadow: $box-shadow;
    transition: width $transition-duration-slow,
      padding $transition-duration-slow;
    padding-top: 1rem;
    padding-bottom: 1rem;
    li {
      a {
        padding: 0;
        transition: color $transition-duration, box-shadow $transition-duration,
          background-color $transition-duration;
        display: flex;
        align-items: center;
        height: 2.25rem;
        font-size: 0.875rem;
        color: $primary-text-color;
        border-radius: 0.125rem;
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          margin: 0 0.25rem;
          transition: visibility $transition-duration,
            opacity $transition-duration;
          flex: 1;
          visibility: hidden;
          opacity: 0;
          cursor: pointer;
          > span {
            margin-left: 0.25rem;
          }
        }
        i {
          font-size: 1rem;
          visibility: hidden;
          transition: visibility $transition-duration,
            opacity $transition-duration;
          opacity: 0;
          &.menu {
            font-size: 1.25rem;
          }
          &.arrow {
            opacity: 0;
            color: $primary-text-color;
          }
        }
        &:hover {
          @include hover;
        }
        &.active {
          @include activated;
          &:hover {
            @include activated;
          }
        }
      }
      > ul {
        visibility: hidden;
        height: 0;
        opacity: 0;
      }
    }
    > section {
      > ul {
        > li {
          ul li {
            > a {
              color: $secondary-text-color;
            }
          }
        }
      }
    }
  }

  > ns-content {
    width: 100%;
    display: block;
    transition: padding-left $transition-duration-slow;
    > ns-footer {
      width: 100%;
      display: block;
      background-color: white;
      border-top: 1px solid #f5f5f5;
      > section {
        display: flex;
        align-items: center;
        justify-content: center;
        > p {
          text-align: center;
          font-size: 0.625rem;
          line-height: 1.75rem;
          margin: 2rem 0;
          color: #777;
        }
      }
    }
  }

  &.shrink {
    > ns-header {
      position: fixed;
      background-color: $primary-color;
    }
    > ns-sider {
      width: $sider-width;
      padding-left: 1rem;
      padding-right: 1rem;
      overflow-y: auto;
      li {
        a {
          padding: 0 0.75rem;
          p,
          i {
            visibility: inherit;
            opacity: 1;
          }
        }
        ul {
          visibility: inherit;
          height: inherit;
          opacity: 1;
        }
      }
    }
    > ns-content {
      padding-left: $sider-width;
      padding-top: $header-height;
      > ns-footer {
        display: none;
      }
    }
  }
}
