// Tabs

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./param";

@mixin tabs {
  display: flex;
  overflow: hidden;
  > .#{$prefix}-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    > nm-tab-content {
      flex-shrink: 0;
      width: 100%;
      opacity: 1;
      transition: opacity $animation-duration-slow;
      &.nm-tab-content-unactivated {
        display: none;
      }
    }
    &-animated {
      transition: margin-left $animation-duration-slow cubic-bezier(0.645, 0.045, 0.355, 1);
      will-change: margin-left;
      > nm-tab-content {
        &.nm-tab-content-unactivated {
          display: inherit;
        }
      }
    }
  }
  > .#{$prefix}-list {
    > nm-slider {
      > ul > li > a {
        color: $primary-text-color;
      }
    }
  }
}
