// Tabs

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./param";

@mixin tabs {
  display: flex;
  overflow: hidden;
  > .#{$prefix}-contents {
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    > .nm-tab-content {
      flex-shrink: 0;
      width: 100%;
      opacity: 1;
      transition: transform $animation-duration-slow
        cubic-bezier(0.645, 0.045, 0.355, 1);
      &.nm-tab-content-unactivated {
        // display: none;
      }
    }
    &-animated {
      > .nm-tab-content {
        &.nm-tab-content-unactivated {
          display: inherit;
        }
      }
    }
  }
  > .#{$prefix}-list {
    > .nm-slider {
      > ul > li {
        > a {
          color: $tabs-color;
        }
        &:hover,
        &.nm-slider-activated {
          > a {
            color: $tabs-activated-color;
          }
        }
      }
    }
  }
  .nm-slider {
    > ul > li > a > span {
      cursor: inherit;
      user-select: none;
    }
  }
}
