// Tabs

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./mixin";

.#{$prefix} {
  @include reset-component();
  @include tabs();
  &-top {
    flex-direction: column;
  }

  &-right {
    flex-direction: row-reverse;
  }

  &-bottom {
    flex-direction: column-reverse;
  }

  &-left {
    flex-direction: row;
  }
}
