// Tabs

@import "../../../../style/themes/default";
@import "../../../../style/mixins/index";
@import "./mixin";

.#{$prefix} {
  @include reset-component();
  @include tabs();
  &-top {
    flex-direction: column;
  }

  &-right {
    flex-direction: row-reverse;
    > .#{$prefix}-contents {
      padding-right: 1rem;
    }
  }

  &-bottom {
    flex-direction: column-reverse;
    > .#{$prefix}-contents {
      padding-bottom: 1rem;
    }
  }

  &-left {
    flex-direction: row;
    > .#{$prefix}-contents {
      padding-left: 1rem;
    }
  }
}
