<x-row>
  <x-col span="24">
    <x-slider-select [(ngModel)]="model1" range></x-slider-select>
  </x-col>
  <x-col span="24">
    <x-slider-select [(ngModel)]="model2" range vertical></x-slider-select>
  </x-col>
  <x-col span="24">
    <x-slider-select [(ngModel)]="model1" range reverse></x-slider-select>
  </x-col>
  <x-col span="24">
    <x-slider-select [(ngModel)]="model2" range vertical reverse></x-slider-select>
  </x-col>
  <x-col span="24">
    <x-slider-select [(ngModel)]="model2" range disabled></x-slider-select>
  </x-col>
</x-row>
