<div #scroll style="height: 600px; overflow: auto">
  <nm-anchor [nmScrollElement]="scroll" style="padding-bottom:300px;">
    <div style="padding: 1rem">
      <h1>1 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>2 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>3 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>4 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>5 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>6 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h1>7 Theme</h1>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <p>
        This is the topic-one information.
      </p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <h2>Branching</h2>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
      <p>This is a branch and a description.</p>
    </div>
  </nm-anchor>
</div>
<div>
  <p>This is a branch and a description.</p>
  <p>This is a branch and a description.</p>
  <p>This is a branch and a description.</p>
</div>
