// Input

@import "../../../style/themes/default";
@import "../../../style/mixins/index.scss";
@import "./param";

@mixin icon {
  display: inline-block;
  line-height: 0;
  text-align: center;
  color: $primary-text-color;
}
