// Compatibility for browsers

@import "../themes/default";

// Placeholder text
@mixin placeholder($color: $input-placeholder-color) {
  // Firefox
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  // Internet Explorer 10+
  &:-ms-input-placeholder {
    color: $color;
  }
  // Safari and Chrome
  &::-webkit-input-placeholder {
    color: $color;
  }
}

// Element hover
@mixin hover($color: $primary-color) {
  border-color: $color;
}

// Element focus
@mixin focus($color: $primary-color) {
  border-color: $color;
  box-shadow: 0 1px 3px rgba(lighten($color, 40%), 0.75);
}
