@import "src/styles/index";

.ns-anchor {
  &-open {
    margin-right: 16.5rem;
    > .ns-anchor-list {
      width: 14.5rem;
      max-height: calc(100% - #{$header-height+3rem});
      z-index: 10;
      position: fixed;
      top: $header-height;
      right: 0;
      overflow-y: auto;
      overflow-x: hidden;
      margin: 1.5rem 4rem 1.5rem 1rem;
      > div.ns-anchor-highlight {
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        background: rgba($primary-text-color, 0.05);
        z-index: 1;
        height: 1.75rem;
        border-left: 2px solid $primary-color;
      }
      > ul {
        margin: 0;
        > li {
          list-style-type: none;
          border-left: 2px solid $border-color;
          margin-left: 0;
          transition: background-color 0.2s;
          > a {
            display: flex;
            align-items: center;
            color: $secondary-text-color;
            border-left: 1px solid white;
            transition-delay: 0.1s;
            > span {
              cursor: pointer;
            }
            > i {
              margin-right: 0.125rem;
            }
          }
          &:hover {
            > a {
              color: $primary-color;
            }
          }
          &.active {
            > a {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}
