<x-row>
  <x-col span="24">
    <x-color-picker placeholder="请选择颜色" bordered="false"></x-color-picker>
  </x-col>
  <x-col span="24">
    <x-color-picker placeholder="请选择颜色" bordered="false" label="喜欢的颜色:" direction="row" ></x-color-picker>
  </x-col>
  <x-col span="24">
    <x-color-picker placeholder="请选择颜色" bordered="false" ></x-color-picker>
  </x-col>
  <x-col span="24">
    <x-color-picker placeholder="请选择颜色" bordered="false" required></x-color-picker>
  </x-col>
  <x-col span="24">
    <x-color-picker placeholder="没有边框" bordered="false" disabled></x-color-picker>
  </x-col>
</x-row>
