<x-row>
  <x-col span="24">
    <x-tree-select [data]="data1" placeholder="请选择" bordered="false"></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select [data]="data2" placeholder="请选择" bordered="false" label="日生:" direction="row"></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select [data]="data3" placeholder="请选择" bordered="false"></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select [data]="data4" placeholder="请选择" bordered="false" required></x-tree-select>
  </x-col>
  <x-col span="24">
    <x-tree-select [data]="data5" placeholder="没有边框" bordered="false" disabled></x-tree-select>
  </x-col>
</x-row>
