/* You can add global styles to this file, and also import other style files */

@import './styles/index.scss';

@font-face {
  font-family: 'titillium';
  src: url('assets/fonts/titillium.eot?#') format('eot'), url('assets/fonts/titillium.woff') format('woff'),
    url('assets/fonts/titillium.ttf') format('truetype'), url('assets/fonts/titillium.svg#titillium') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ubuntu';
  src: url('assets/fonts/ubuntu.eot?#') format('eot'), url('assets/fonts/ubuntu.ttf') format('truetype'),
    url('assets/fonts/ubuntu.woff') format('woff'), url('assets/fonts/ubuntu.svg#ubuntu') format('svg');
  font-weight: normal;
  font-style: normal;
}

*,
:after,
:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: $--x-background;
  height: 100%;
}

@include scrollbar();

span,
label,
h1,
h2,
h3,
h4,
h5 {
  cursor: inherit;
}

body,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $--x-primary;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    color: $--x-primary;
  }
}

code,
pre,
tt {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

body,
input {
  font-family: 'ubuntu', -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

a,
p,
span {
  letter-spacing: 0.03rem;
}
