/* You can add global styles to this file, and also import other style files */

@import "src/styles/index";
@import "~@angular/cdk/overlay-prebuilt.css";

@font-face {
  font-family: "titillium";
  src: url("assets/fonts/titillium.eot?#") format("eot"),
    url("assets/fonts/titillium.woff") format("woff"),
    url("assets/fonts/titillium.ttf") format("truetype"),
    url("assets/fonts/titillium.svg#titillium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ubuntu";
  src: url("assets/fonts/ubuntu.eot?#") format("eot"),
    url("assets/fonts/ubuntu.ttf") format("truetype"),
    url("assets/fonts/ubuntu.woff") format("woff"),
    url("assets/fonts/ubuntu.svg#ubuntu") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "iconfont";
  src: url("assets/fonts/iconfont.eot?#") format("eot"),
    url("assets/fonts/iconfont.woff") format("woff"),
    url("assets/fonts/iconfont.ttf") format("truetype"),
    url("assets/fonts/iconfont.svg#iconfont") format("svg");
}

.icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angular:before {
  content: "\f164";
}

.icon-nest:before {
  content: "\e601";
}

.icon-check:before {
  content: "\e600";
}

.icon-checkout:before {
  content: "\e62c";
}

.icon-wait:before {
  content: "\e615";
}

.icon-github:before {
  content: "\e64a";
}

.icon-arrow-right:before {
  content: "\f165";
}

.icon-arrow-down:before {
  content: "\e602";
}

.icon-workflow:before {
  content: "\e66a";
}

.icon-ui:before {
  content: "\e652";
}

.icon-code:before {
  content: "\e61c";
}

.icon-module:before {
  content: "\e757";
}

.icon-form:before {
  content: "\e603";
}

.icon-cicle:before {
  content: "\e6a4";
}

.icon-corners:before {
  content: "\e60a";
}

.icon-code:before {
  content: "\e8b9";
}

*,
:after,
:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  font-size: 1rem;
  color: $primary-text-color;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafa;
  height: 100%;
  overflow: hidden;
}

span,
label,
h1,
h2,
h3,
h4,
h5 {
  cursor: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "titillium";
}

body,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }
}

code,
pre,
tt {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier,
    monospace;
}

body,
input {
  font-family: "ubuntu", -apple-system, SF UI Text, Arial, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

a,
p,
span {
  letter-spacing: 0.03rem;
}

:root {
  --nm-primary-color-dark: #303f9f;
  --nm-primary-color: #3f51b5;
  --nm-primary-color-light: #c5cae9;
  --nm-primary-color-text: #ffffff;
  --nm-accent-color: #ff5722;
  --nm-primary-text-color: #212121;
  --nm-secondary-text-color: #757575;
  --nm-divider-color: #bdbdbd;
}
