/* You can add global styles to this file, and also import other style files */

@import './styles/index.scss';

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/inter.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DM Mono';
  src: url('assets/fonts/dm-mono.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
:after,
:before {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  height: 100%;
}

body {
  background-color: $--x-background;
  height: 100%;
}

@include scrollbar();

span,
label,
h1,
h2,
h3,
h4,
h5 {
  cursor: inherit;
}

body,
input,
ul,
li,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  color: $--x-primary;
  text-decoration: none;
  transition: all 0.4s;
  cursor: pointer;

  &:hover {
    color: $--x-primary;
  }
}

code,
pre,
tt {
  font-family:
    DM Mono,
    SFMono-Regular,
    Consolas,
    Liberation Mono,
    Menlo,
    Courier,
    monospace;
}

body,
input {
  font-family:
    Inter,
    -apple-system,
    SF UI Text,
    Arial,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    WenQuanYi Micro Hei,
    sans-serif;
}

.language-typescript,
.language-ts {
  .token.decorator .token.operator,
  .token.decorator .token.function,
  .token.keyword {
    color: #0546ff;
  }

  .token.class-name,
  .token.property {
    color: #f637e3;
  }

  .token.string,
  .token.boolean {
    color: #fa2c05;
  }

  // .token.function {
  //   color: #e90364;
  // }

  // .token.function.function-variable {
  //   color: #474747;
  // }

  .token.comment {
    color: #746e7c;
  }
}

.language-html {
  .token.tag,
  .token.punctuation {
    color: #0546ff;
  }
  .token.attr-name {
    color: #f637e3;
  }
  .token.attr-value,
  .token.attr-value .token.punctuation {
    color: #fa2c05;
  }
}

.language-scss {
  .token.selector {
    color: #0546ff;
  }
  .token.property {
    color: #f637e3;
  }
  .token.punctuation {
    color: #474747;
  }
}
