@mixin hover {
  background-color: rgba(0, 0, 0, 0.02);
}

@mixin activated {
  color: $--x-primary;
  background-color: rgba(0, 0, 0, 0.02);
}

@mixin no-hover {
  background-color: transparent;
}

@mixin no-activated {
  background-color: transparent;
}

@mixin scrollbar {
  ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 0.125rem;
    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: $--x-text-500;
  }
  ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    // box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.125rem;
    background: $--x-background;
  }
}
