// Form

@import "../../style/themes/default";
@import "../../style/mixins/index";
@import "./param";

@mixin form {
  display: block;
  > form {
    > .nm-grid {
      > .nm-row {
        > .nm-col {
          padding: 4px;
        }
      }
    }
  }
}
